<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="keywords" content="Smart Device Services">
	<meta name="description" content="Smart Device Services">
	<title>LOGIN | 시뮬레이션 관리 시스템</title>
	<link rel="stylesheet" href="/css/SmartDevice.css">
	<link rel="stylesheet" href="/css/custom.css">

	<div id="head_area">
	
	</div>
</head>	

<body>
	<div class="wrapper login-wrap">
		<!-- Container -->
		<main role="main" class="container">
			<header class="header">
			</header>
			<div class="content login-content">
				<section class="login-sec">
					<div class="sec-head">
						<h2 style="white-space:nowrap;color:black;text-align:left;font-size:24px;">선택하신 서비스는 사용 가능한 웹 브라우저가 제한되어 있습니다.</em></h2>
						<h2 style="white-space:nowrap;color:black;text-align:left;font-size:24px;">Chrome 또는 Microsoft Edge 브라우저에서 재접속 후</em></h2>
						<h2 style="white-space:nowrap;color:black;text-align:left;font-size:24px;">해당 시스템으로 이동해주시기 바랍니다.</em></h2>
						<h2 style="white-space:nowrap;color:black;text-align:left;font-size:24px;">이용에 불편을 드려 죄송합니다.</em></h2>
						<br>
						<a class="h-titemp" href="https://www.google.com/intl/ko/chrome/">-> [Chrome Download Page] 바로가기</span>
						<h2 class="h-tit"></em></h2>
						<a class="h-titemp" href="https://www.microsoft.com/ko-kr/edge">-> [Edge Download Page] 바로가기</span>
					</div>
					
				</section>
			</div>

		</main>

		<!-- Framework/Libraries -->
		<script type="text/javascript" src="/libs/jquery/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/libs/jquery/jquery.form.min.js"></script>
		<!-- <script type="text/javascript" src="/libs/materialize/js/materialize.min.js"></script> -->

		<!-- Views -->
		<script type="module" src="/js/views/login.js"></script>

		<!-- Utils/Services -->
		<script type="text/javascript" src="/js/utils/ar_util.js"></script>

</body>

</html>

<!-- include template/footer_login.ejs  -->