<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="keywords" content="Smart Device Services">
	<meta name="description" content="Smart Device Services">
	<title>LOGIN | 시뮬레이션 관리 시스템</title>
	<link rel="stylesheet" href="/css/SmartDevice.css">
	<link rel="stylesheet" href="/css/custom.css">

	<div id="head_area">
	
	</div>
</head>	

<body>
	<div class="wrapper login-wrap">
		<!-- Container -->
		<main role="main" class="container">
			<header class="header">
				<h1 class="logo"><a href="javascript:void(0)">LG CNS</a></h1>
			</header>
			<div class="content login-content">
				<section class="login-sec">
					<div class="sec-head">
						<h2 class="h-tit">잘못된 접근입니다.</em></h2>
					</div>
					
				</section>
			</div>

		</main>

		<!-- Framework/Libraries -->
		<script type="text/javascript" src="/libs/jquery/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/libs/jquery/jquery.form.min.js"></script>
		<!-- <script type="text/javascript" src="/libs/materialize/js/materialize.min.js"></script> -->

		<!-- Views -->
		<script type="module" src="/js/views/login.js"></script>

		<!-- Utils/Services -->
		<script type="text/javascript" src="/js/utils/ar_util.js"></script>

</body>

</html>

<!-- include template/footer_login.ejs  -->