<!DOCTYPE html>
<html lang="ko">

<% include partials/site_head %>

<body>
    
    <div class="wrapper sub-wrap">
        <!-- Header -->
        <!-- //Header -->
        <header class="header">
            <% include partials/header %>
        </header>
        <!-- Container -->
        <main role="main" class="container">
            
            <div id="content" class="content board-content board-content">
                
                <!-- content-body -->
                <div class="content-body">
                   <!-- 검색목록 -->
                   <div class="board-list">
                    <div class="tit-area">
                        <h3 class="h-tit">시뮬레이터 목록</h3>
                    </div>
                    <!-- 검색영역 -->
                    <div class="board-srch">
                        <div class="form-area">
                            <div class="form-controls">
                                <label for="schSite" class="form-tit">사이트</label>
                                <select name="" id="schSite" class="select style1 w-lg">
                                    <option value="">전체</option>
                                </select>
                            </div>
                            <div class="form-controls">
                                <label for="schProc" class="form-tit">공정</label>
                                <select name="" id="schProc" class="select style1 w-lg">
                                    <option value="">전체</option>                                   
                                </select>
                            </div>
                            <div class="form-controls">
                                <label for="schStDt" class="form-tit">등록일시</label>
                                <span class="input-extend type-date">
                                    <input type="text" name="" id="schStDt" class="input style1">
                                </span>
                                <span class="form-split">~</span>
                                <span class="input-extend type-date">
                                    <input type="text" name="" id="schEndDt" class="input style1">
                                </span>
                            </div>
                        </div>
                        <div class="btn-area">
                            <button type="button" class="btn btn-submit type-reg" id="btnReg"><span>등록</span></button>
                            <button type="button" class="btn btn-submit type-srch" id="btnSearch"><span>조회</span></button>
                                                        
                        </div>
                    </div>
                    <!-- //검색영역 -->
                    <div class="tbl-area">
                        <div class="tbl tbl-list">
                            <div class="tbl-head-fixed tbl-fixed">
                                <table>
                                    <colgroup>
                                        <col style="width:70px" />
                                        <col style="width:8%" />
                                        <col style="width:10%" />
                                        <col style="width:120px" />
                                        <col style="width:11%" />
                                        <col style="width:8%" />
                                        <col style="width:11%" />
                                        <col style="width:11%" />
                                        <col style="width:10%" />
                                        <col style="width:300px" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">번호</th>
                                            <th scope="col">사이트</th>
                                            <th scope="col">공정</th>
                                            <th scope="col">버전</th>
                                            <th scope="col">등록일시</th>
                                            <th scope="col">배포타입</th>
                                            <th scope="col">설치파일명</th>
                                            <th scope="col">소스 파일</th>
                                            <th scope="col">등록자</th>
                                            <th scope="col">등록내역</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tbl-body-scroll tbl-fixed">
                                <table>
                                    <colgroup>
                                        <col style="width:70px" />
                                        <col style="width:8%" />
                                        <col style="width:10%" />
                                        <col style="width:120px" />
                                        <col style="width:11%" />
                                        <col style="width:8%" />
                                        <col style="width:11%" />
                                        <col style="width:11%" />
                                        <col style="width:10%" />
                                        <col style="width:300px" />
                                    </colgroup>
                                    <tbody id="data-list">
                                              
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <% include partials/pagenation.ejs %>
                    </div>
                </div>
                <!-- //검색목록 -->
                    
                </div>
                <!-- //content-body -->
            </div>
        </main>
        <!-- //Container -->
    </div>

    <!-- Popup Wrap -->
    <div id="popupProgramReg" class="popup-wrap type-basic">
        <section class="popup w-md">
            <div class="popup-head">
                <h3 class="h-tit">VTS 프로그램 등록</h3>
            </div>
            <div class="popup-body">
                <div class="popup-content board-write">
                    <div class="tbl-area">
                        <div class="tbl tbl-form">
                        <form id="regForm" enctype="multipart/form-data" method="POST"> 
                            <table>
                                <colgroup>
                                    <col style="width:106px" />
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th scope="row">공정 <span class="asterisk">*</span></th>
                                        <td>
                                            <select name="" id="popProcId" class="select style1 fluid">
                                                
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">배포 사이트 <span class="asterisk">*</span></th>
                                        <td>
                                            <ul class="list type-dist" id="deploySiteList">
                                               
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">적용일시 </th>
                                        <td>
                                            <div class="check-area unusual1">
                                                <span class="check style1">
                                                    <input type="checkbox" id="popRelsWay" name="">
                                                    <label for="popRelsWay">
                                                        <span>즉시 배포</span>
                                                    </label>
                                                </span>
                                                <p class="text-desc s-sm">미체크 시, 사이트별 자동 배포 시간에 적용됩니다.</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">설치파일 <span class="asterisk">*</span></th>
                                        <td>
                                            <div class="file-attach-area">
                                                <div class="file-attach-head">
                                                    <div class="file-info">
                                                        Total size : <span class="current" id="updldFileSize">0</span> / <span class="total">7GB</span>
                                                    </div>
                                                    <label class="file-attach">
                                                        <input type="file" name="updld" id="popUpdld" value="찾아보기" accept=".zip">
                                                        <span class="btn btn-attach">파일첨부</span>
                                                    </label>
                                                </div>
                                                <div class="file-attach-body" id="updldFileArea">                                                   
                                                </div>
                                                <div class="loading-bar 0" style="display:none;" ><div class="loading-bar-active" style="width:0%"></div></div>
                                               
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">설치버전</th>
                                        <td id="dispVer"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">소스파일 <span class="asterisk">*</span></th>
                                        <td>
                                            <div class="file-attach-area">
                                                <div class="file-attach-head">
                                                    <div class="file-info">
                                                        Total size : <span class="current" id="sourceFileSize">0</span> / <span class="total">7GB</span>
                                                    </div>
                                                    <label class="file-attach">
                                                        <input type="file" name="source" id="popPgSc" value="찾아보기" accept=".zip">
                                                        <span class="btn btn-attach">파일첨부</span>
                                                    </label>
                                                </div>
                                                <div class="file-attach-body" id="sourceFileArea">
                                                    
                                                </div>
                                                <div class="loading-bar 1" style="display:none;"><div class="loading-bar-active" style="width:0%"></div></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <div style="margin-top: 10px; display: none;" class="progress">
                                            <div role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-striped active" style="width: 0%;">100%</div>
                                        </div>
                                    <tr>    
                                    <tr>
                                        <th scope="row">등록자</th>
                                        <td>
                                            <input type="text" name="" id="popRgstNm" value="<%=user.userName%>(<%=user.userId%>)" class="input style1 fluid" readonly>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">등록내역</th>
                                        <td>
                                            <input type="text" name="" id="popMemoCtn" value="" class="input style1 fluid">
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </form> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-foot">
                <button type="button" class="btn btn-pop primary" id="saveBtn"><span>저장</span></button>
                <button type="button" class="btn btn-pop" id="closePopBtn"><span>닫기</span></button>
            </div>
            <div class="popup-close">
                <button type="button" class="btn btn-close" id="closePopBtnX"><span>닫기</span></button>
            </div>
        </section>
        <div class="dimmer"></div>
    </div>
    <!-- //Popup Wrap -->
</body>

<% include partials/site_footer %>

<script type="module" src="/js/views/simulator.js"></script>
<script>
    $(document).ready(function(){
		$(".gnb-area .node-list .node-item").removeClass("is-current");
        $(".gnb > ul > li").text(function(index,text){            
            if(text === '시뮬레이터'){
                $(this).addClass('is-current');
            }
            
        })

	})
</script>

</html>