<div class="board-write2">
    <div class="tit-area">
        <h2 class="h-tit">게시물 작성</h2>
    </div>
    <div class="tbl-area">
        <div class="tbl tbl-form2">
            <table>
                <input type="hidden" name="" id="idTxt" class="input style1 fluid">
                <input type="hidden"  id="confirm_act" value="등록/삭제">
                <colgroup>
                    <col style="width:160px;" />
                    <col />
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row"><label for="sFormType">분류</label></th>
                        <td>
                            <select name="" id="sFormType" class="select style1 w-lg" >
                                
                            </select>
                        </td>											
                    </tr>
                    <tr>
                        <th scope="row"><label for="sFormTit">제목</label> <span style='color:red'>*</span></th>
                        <td>
                            <input type="text" name="" id="sFormTit" class="input style1 fluid"  maxlength="64" required>
                        </td>											
                    </tr>
                    <tr>
                        <th scope="row"><label for="sFormText">공지내용</label> <span style='color:red'>*</span></th>
                        <td>
                            <textarea name="" id="sFormText" cols="30" rows="15" class="textarea style1"></textarea>
                        </td>											
                    </tr>
                    <tr>
                        <th scope="row"><label for="sFormStart">전시기간</label> <span style='color:red'>*</span></th>
                        <td>
                            <div class="form-controls type-date">
                                <span class="check style1">
                                    <input type="checkbox" name="" id="sCheckSet">
                                    <label for="sCheckSet"><span>설정</span></label>
                                </span>
                                <span id="set_area" style='font-size: 12px;color:#A50034'>전시기간 설정하지 않을 경우 '1999-01-01' ~ '2999-12-31' 기본 저장</span>
                                <div id="data_area" style="display:none">
                                <span class="input-extend type-date">
                                    <input type="text" name="" id="sFormStart" class="input style1">
                                </span>
                                <span class="form-split">~</span>
                                <span class="input-extend type-date">
                                    <input type="text" name="" id="sFormEnd" class="input style1">
                                </span>
                                
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="submit-area">
        <button type="button" class="btn primary" id="save"><span>확인</span></button>
        <button type="button" class="btn" onclick="location.href='/page/mgmt/noticeMgmt'"><span>취소</span></button>
    </div>
</div>

<script type="module" src="/js/views/noticeForm.js"></script>